doctype 5
html
	head
		script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js')
		script(src='/scripts/socketeer-client.js')
		script
			var socketeer = new Socketeer();
	body
		block content