doctype 5
html
	head
		script(src='https://cdn.socket.io/socket.io-1.0.4.js')
	body
		h1 Routes
		for methods in routes
			if methods.length > 1
				h2= methods[0].method.toUpperCase()
				table
					tr
						th Method
						th URI
						for route in methods
							if route.path !== '*'
								tr
									td= route.method.toUpperCase()
									td= route.path